@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* sidebar */

html {
  --var-color-primary: #f2e5d5;
  --var-color-secondary: #85643c;
  --var-color-tertiary: #bfa07a;
  --var-color-white: #f6f6f9;
  --var-color-black: #070606;
}

body {
  display: grid;
  width: 100dvw;
  height: 100dvh;
  grid-template-columns: 1fr 6fr;
  font-family: "Poppins", sans-serif;
}

#sidebar {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  min-width: 1fr;
  width: 300px;
  height: 100%;
  padding: 20px;
  grid-column: 1 / 2;
  background-color: var(--var-color-tertiary);
  overflow-y: auto;
}

#sidebar .sidebar-content {
  display: inline-flex;
  flex-direction: column;
}

#sidebar h1 {
  font-size: 1.75rem;
}

#sidebar h1,
#sidebar h2 {
  margin-bottom: 10px;
}

#sidebar .categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
  margin-bottom: 10px;
  padding-right: 20px;
}

#sidebar .category-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4px 10px;
  border-radius: 4px;
  transition: all 0.3s ease;
  transform-origin: left center;
}

#sidebar .category-item p {
  font-size: 1rem;
}

#sidebar .task-count {
  font-family: sans-serif;
}

.category-item:hover {
  transform: scale(1.05);
}

.category-item.active {
  background-color: #e0e0e0;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.category-separator {
  border: 0;
  height: 1px;
  background-color: #e0e0e0;
  margin: 20px 0;
}

.add-task,
.add-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  gap: 8px;
  margin-bottom: 10px;
  padding: 4px 10px;
  cursor: pointer;
}

#sidebar .reset-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--var-color-secondary);
  color: hsl(from var(--var-color-white) h s l / 0.9);
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  text-align: center;
  margin-top: 10px;
}

#sidebar .reset-project:hover {
  background-color: var(--var-color-primary);
  color: var(--var-color-black);
}

/* main */

#main {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  padding: 50px;
  background-color: var(--var-color-primary);
}

.page-title {
  display: flex;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.todo-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 800px;
}

.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-top: 1px solid black;
}

.todo-title.completed,
.todo-due-date.completed {
  text-decoration: line-through;
}

.todo-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #333;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  transition: all 0.3s ease;
}

.todo-checkbox:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

.todo-checkbox:checked::after {
  content: "\2713";
  font-size: 1rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.todo-checkbox:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.todo-label {
  flex: 1;
  width: fit-content;
}

.todo-title {
  margin: 0;
  font-size: 1rem;
  width: fit-content;
}

.todo-due-date {
  font-size: 0.8em;
  width: fit-content;
}

.action-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
}

.action-icons img {
  cursor: pointer;
}

.action-icons img:active {
  transform: scale(0.9);
}

/* modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: var(--var-color-secondary);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.modal-close {
  color: var(--var-color-primary);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--var-color-tertiary);
  text-decoration: none;
  cursor: pointer;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-top h2 {
  font-size: 1.75rem;
  color: var(--var-color-white);
}

/* todo modal */

#todo-modal .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
}

#todo-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#todo-form input[type="text"] {
  width: 100%;
  padding: 9px 8px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}

#todo-form input[type="text"]:focus,
#todo-form input[type="date"]:focus,
#todo-form select:focus {
  outline: none;
  border: none;
}

#todo-form input[type="date"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}

#todo-form .form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

#todo-form select {
  width: clamp(25%, 35%, 40%);
  padding: 8px 6px;
  border-radius: 4px;
  border: none;
  font-size: 0.9rem;
}

#todo-form button {
  flex: 1;
  width: auto;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
}

/* project modal*/

#project-modal .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#project-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#project-form input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  padding: 10px;
}

#project-form input[type="text"]:focus {
  outline: none;
  border: none;
}

#project-form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
}

#todo-form button:hover,
#project-form button:hover {
  background-color: #45a049;
}
